#all{
    background-color: cadetblue;
    height:2125px;
    width:1750px;
    display:flex;
    margin:50px;
    padding:50px;
}
img{
    height:500px;
    width:500px;
}
.header{
    text-align:center;
    font-weight: 1100;
    font-size:250%
}
.top{
    justify-items:space;
    margin:50px;
    background-color:chocolate;
    align-items:center;
    padding:50px;
    border-radius:50px;
    padding-bottom:0px;
    outline-style:groove;
    outline-color:darkgoldenrod
}
.mid{
    justify-items:end;
    align-items:center;
    background-color:burlywood;
    margin:50px;
    padding:50px;
    border-radius:50px;
    padding-left: 300px;
    outline-style:groove;
    outline-color:khaki
}
.low{
    justify-items:space;
    margin:50px;
    background-color:beige;
    align-items:center;
    padding:50px;
    border-radius:50px;
    padding-bottom:0px;
    outline-style:groove;
    outline-color:bisque;
    padding-top:0x;
}
.end{
    text-align:center;
    color:rgb(48, 79, 80);
    font-size:250%
}